<!-- templates/contact/contact_us.html -->
{% extends 'base.html' %}
{% block content %}
{% block form %}
<div class="container p-5">
    <h1>Contacts</h1>
    <h4>If there are any quetions feel free to contact us below</h4>
    <p>Please write your name, email adress and message below if there are any questions.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock form %}
{% endblock content %}