<!-- templates/index/education.html-->
{% extends 'base.html' %}
{% block title %}Education{% endblock title %}
{% block content %}
<div class="container">
    {% for school_data in education %}
    <h2 class="text">I went to {{ school_data.school_name }}</h2>
    <h3 class="text">{% if school_data.has_graduated %}Graduated {% else %}Expected Graduation
        {% endif %}{{ school_data.end_date }}</h3>
    {% load extra_tags %}
    {% for project in school_data.projects_set.all %}
    <div class="project-card card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ project.image.url }}" class="rounded img-fluid" alt="{{ project.name }} image" />
                <p class="card-footer text-muted">Project Link: <a href="{{ project.link }}"
                        class="btn btn-primary">{{ project.name }}</a></p>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-id-{% make_hash forloop.counter project.name %}"
                            aria-expanded="false" aria-controls="collapseExample">Project Description</button>
                    </p>
                    <div id="collapse-id-{% make_hash forloop.counter project.name %}" class="collapse">
                        <div class="card card-body">
                            <p class="card-text">{{ project.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock content %}