<!-- templates/index/resume_home.html -->
{% extends "home.html" %}
{% block content %}
<div class="container mx-auto">
    <p class="display-5  lead">
        {{ personal_info.first_name|title }} {{ personal_info.middle_name|title }} {{ personal_info.last_name|title }}
    </p>
    <p class="lead">
        Contact: {{ personal_info.contact_email }}; {{ personal_info.contact_phone }}
    </p>
    <p class="lead">
        <a href="{{ personal_info.self_photo }}" class="btn btn-outline-dark" role="button">Linkedin:
            {{ personal_info.self_photo|slice:"7:" }}</a>
    </p>
</div>
{% endblock content %}