<!-- templates/index/resume_home.html -->
{% extends "home.html" %}
{% block content %}
<div class="container mx-auto">
    <img src="{{ personal_info.self_photo.url }}" class="img-fluid rounded mx-auto d-block" />
    <p class="display-5  lead text-center">
        {{ personal_info.first_name|title }} {{ personal_info.middle_name|title }} {{ personal_info.last_name|title }}
    </p>
    <p class="lead text-center">
        Contact: {{ personal_info.contact_email }}; {{ personal_info.contact_phone }}
    </p>
    {% if social_media %}
    <div class="container">
        <p class="text">Social Media:</p>
        {% for media in social_media %}
        <p class="text">{{ media }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}