<!-- templates/index/skills.html-->
{% include "base.html" %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Skill</th>
            <th scrope="col">Description</th>
            <th scope="col">Example</th>
        </tr>
    </thead>
    {% for skill in skills %}
    <tbody>
        <tr>
            <th scope="row">{{ skill.skill_name }}</th>
            <td>{{ skill.description }}</td>
            <td><a href="{{ skill.example }}">{{ skill.example }}</a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>