<!-- templates/index/workexperience.html-->
{% include "base.html" %}
{% block content %}
    <div class="container mx-auto">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Work History</th>
                    <th scrope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                </tr>
            </thead>
            {% for work in work_experience %}
                <tbody>
                    <tr>
                        <th scope="row">{{ work.company_name }}</th>
                        <td>{{ work.title }}</td>
                        <td>{{ work.description }}</td>
                        <td>{{ work.start_date }}</td>
                        <td>{{ work.end_date }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
