<!-- templates/index/workexperience.html-->
{% extends 'base.html' %}
{% block title %}
Work History
{% endblock title %}
{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Work History</th>
            <th scrope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">Time at Position</th>
        </tr>
    </thead>
    {% for work in work_experience %}
    <tbody>
        <tr>
            <th scope="row">{{ work.company_name }}</th>
            <td>{{ work.title }}</td>
            <td>{{ work.description }}</td>
            <td>{{ work.start_date }}</td>
            <td>{{ work.start_date|timesince:work.end_date }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock content %}